.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}


.nav-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.nav {
  margin-right: 350px;
}